<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MagicPaper.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F02D83F8C4E2EF0D2809B00C54B4C78096197815</string>
				<key>dateExpires</key>
				<string>30.01.2027</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>11130</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F02D83F8C4E2EF0D2809B00C54B4C78096197815</string>
						<key>dateExpires</key>
						<string>30.01.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleMobileAds.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4L7QU56YY</string>
						<key>name</key>
						<string>Batuhan Demir</string>
					</dict>
					<key>versionNumber</key>
					<string>11.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F02D83F8C4E2EF0D2809B00C54B4C78096197815</string>
						<key>dateExpires</key>
						<string>30.01.2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>UserMessagingPlatform.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4L7QU56YY</string>
						<key>name</key>
						<string>Batuhan Demir</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>T4L7QU56YY.com.batu.magicpaper.v1</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>T4L7QU56YY</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>MagicPaper.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>700aacc8-5024-4d94-a485-f8c5515e95f3</string>
				<key>dateExpires</key>
				<string>30.01.2027</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.batu.magicpaper.v1</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>T4L7QU56YY</string>
				<key>name</key>
				<string>Batuhan Demir</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
